<div id="display-img">
  <img src="http://static.giantbomb.com/uploads/original/4/42381/1196379-gas_mask_respirator.jpg">
</div>
<div id="name-follows">
    <h1><%= user.escape('email')%></h1>
    <ul>
      <li><a href="#/users/<%= user.escape('id')%>">Link1</a></li>
      <li><a href="#/users/<%= user.escape('id')%>">Link2</a></li>
      <li><a href="#/users/<%= user.escape('id')%>">Link3</a></li>
      <li><%= user.followers().length %> <a href="#/users/<%= user.escape('id')%>">Followers</a>
          <%= user.followedUsers().length %> <a href="#/users/<%= user.escape('id')%>">Following</a>

      <% if(currentUser != user.escape('id') && typeof currentUser === "number") {%>
        <button class="follow">  <% var is_followed = user.get('is_followed')%>
        <%if(is_followed === true){%>
          Unfollow
        <% }else {%>
           Follow
          <%}%>
        </button></li>
      <% }%>
  </ul>
</div>
