<div id="display-img">
  <img src="http://www.hta.gov.uk/_db/_images/public_display_image.jpg">
</div>
<div id="name-follows">
    <h1><%= user.get('email')%></h1>
    <ul>
      <li><a href="#/users/<%= user.get('id')%>">Link1</a></li>
      <li><a href="#/users/<%= user.get('id')%>">Link2</a></li>
      <li><a href="#/users/<%= user.get('id')%>">Link3</a></li>
      <li>## <a href="#/users/<%= user.get('id')%>">Followers</a>    ## <a href="#/users/<%= user.get('id')%>">Following</a>
      <button class="follow">Follow<button></li>
  </ul>
</div>
